#skills {
	height: 180%;
	text-align: center;
	background: #333333;
}

#projects {
	text-align: center;
	background: #222222;
}

#about {
	height: 70%;
	text-align: center;
	background: #333333;
}

#contact {
	height: 43%;
	text-align: center;
	background: #222222;
}
