/* ---MEDIA QUERIES--- */
/* Medium Screens */
@media screen and (min-width: 350px) and (max-width: 990px) {
	svg {
		padding-bottom: 20px;
	}

	.icon {
		max-width: 150px;
	}
}

/* Large Screens */
@media screen and (min-width: 991px) {
	.gd {
		padding-top: 20px;
	}

	h1 {
		font-size: 80px !important;
	}

	h2 {
		font-size: 40px !important;
	}

	.header-content-inner > p {
		font-size: 30px !important;
	}
}

/* Small Phones */
@media (max-width: 340px) {
	p {
		font-size: 14px;
	}

	.icon {
		max-width: 125px !important;
	}
}

/* Landscape Phones */
@media (max-height: 350px) {
	header {
		height: 125%;
	}
}

/* -------STYLES------- */
/* TODO: Media Queries for svg {max-width: 200px;} */
.icon:hover {
	fill: #00bc8c;
}

.icon {
	fill: white;
	transition: 300ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 300ms;
	-webkit-transition-timing-function: ease-in-out;
	max-width: 175px;
}

.icon:hover {
	fill: #00bc8c;
}

.img-circle {
	border: 5px #00bc8c solid;
	margin-bottom: 20px;
}

.proj-desc {
	color: #222;
}

.italics {
	font-weight: 400;
	font-style: italic;
}

.icons > div {
	margin-bottom: 2.5%;
}

/* One-page Site Style */
#skills {
	height: auto;
}

#projects {
	height: auto;
}

#about {
	height: auto;
}

#contact {
	height: auto;
}