/* ---MEDIA QUERIES--- */
@media screen and (min-width: 350px) and (max-width: 990px) {
	svg {
		padding-bottom: 20px;
	}
}

@media screen and (min-width: 991px) {
	.gd {
		padding-top: 20px;
	}
}

/* -------STYLES------- */
svg {
	fill: #FFF;
}

svg:hover path {
	fill: #00bc8c;
}

path {
	transition: 250ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 250ms;
	-webkit-transition-timing-function: ease-in-out;
}

.img-circle {
	border: 5px #00bc8c solid;
}

.proj-desc {
	color: #222;
}
