/* -------STYLES------- */
svg {
	fill: #FFF;
	width: auto;
	padding-bottom: 5%;
}

svg:hover path {
	fill: #00a379;
}

path {
	transition: 250ms;
	transition-timing-function: ease-in-out;
	-webkit-transition: 250ms;
	-webkit-transition-timing-function: ease-in-out;
}

.img-circle {
	border: 5px #00bc8c solid;
}